
<%- include ../global/header.ejs %>

<style>
	
</style>
<link rel="stylesheet" href="css/login/login.css">
<div class="head_line text-center">
	<span><%= desc %></span>
</div>
<div class="col-lg-12 text-center">
	<div class="login-main">
		<p>
			<input type="text" placeholder="帐号">
		</p>
		<p>
			<input type="text" placeholder="密码">
		</p>
		<p>
			<button>登 录</button>
		</p>
	</div>
</div>


<%- include ../global/footer.ejs %>
